@import "~sanitize.css"
@import "vars.styl"
@import "header.styl"

body {
  background-color: black;
}

h1 {
  color: white;
}

.hello {
  background-color:blue;

  .title {
    color: greenyellow;
  }
}
.box{
  background-color: red;
  h3{
    font-size: 20px;
    color: white;
  }
  }